.MuiDataGrid-cell:not(:last-of-type) {
  border-right: 1px solid gainsboro;
}

.grid-header-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.grid-wrapper {
  background: #fff;
  border-radius: 10px;
  border: 2px solid gainsboro;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  max-width: 2000px;
  overflow: clip;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-wrapper * {
  outline: none !important;
}

.grid-actions {
  display: flex;
  gap: 8px;
  height: 100%;
  display: flex;
  align-items: center;
}

.grid-actions button {
  background: transparent;
  border: 2px solid gainsboro;
  cursor: pointer;
  color: #555;
  font-size: 14px;
  padding: 6px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: 100ms ease-in-out;
}

.grid-actions button.danger {
  color: #d32f2f;
}

.grid-actions button:hover {
  color: var(--main-color);
  border-color: var(--main-color);
  transform: scale(1.05);
}
