.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10000;
  align-items:end;
}

.toast button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}

.toast {
  padding: 12px 16px;
  border-radius: 6px;
  color: #fff;
  min-width: 240px;
  max-width: 400px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  animation: slideIn 0.3s ease forwards;
  flex-direction: column;
}

.toast-message {
  word-break: break-word;
  max-width: 400px;
}

.toast-success {
  background: var(--main-color);
}

.toast-error {
  background: #c62828;
}

.toast-info {
  background: rgb(240, 158, 7);
}

.toast.leaving {
  animation: slideOut 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(120%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(120%);
  }
}
