.access-container {
  padding: 40px 0px 0px 110px;
}

.access-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

.access-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 40px;
}

.access-search {
  padding: 13px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  flex: 1.5;
}

.select-user-state-list {
  border-radius: 6px;
  font-size: 14px;
  flex: 1;
  color: gray;
  max-width: 300px;
  border: 2px solid #ddd;
}

.select-user-state-list * {
  border: none !important
}

.btn-new-profile {
  background: var(--main-color);
  border-radius: 5px;
  color: white;
  border: none;
  padding: 13px 14px;
  min-width: 90px;
  white-space: nowrap;
  flex: 0.3;
  cursor: pointer;
  transition:200ms ease-in-out;
}

.btn-new-profile:hover {
  opacity:0.9;
}

.access-search:focus {
  outline: none;
  border-color: var(--main-color);
}

.status-btn {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  cursor: default;
  width: 100%;
}

.wrapper-btn-new-profile-mobile {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.btn-new-profile-mobile {
  border-radius: 50%;
  border: none;
  background: var(--main-color);
  color: white;
  padding: 10px;
  font-size: 30px;
}
